<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="secureMember">
    <!-- 회원가입 -->
    <insert id="join">
    insert into secure_member(member_id,member_pw) 
    values(#{memberId},#{memberPw})
    </insert>
    <!-- 단일조회 -->
    <select id="find" resultType="secureMemberDto">
    
    select * from secure_member where member_id = #{memberId}
    
    </select>
    
    </mapper>