<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="product">

   <select id="list" resultType="ProductDto">
      select * from product order by product_no asc
   </select>
   
   <select id="find" resultType="ProductDto">
   select * from product where product_no = #{productNo}
   </select>

</mapper>